@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #003353;
    color: #f6f6f6;
}

.texto_destacado {
    color: #0067A6;
}

.apresentacao{
    padding: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction:column;
    gap: 40px;
}

.apresentecao__conteudo__titulo {
    font-family: "Krona One", sans-serif;
    font-size: 36px;
}

.apresentacao__conteudo__texto {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.apresentacao__links {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    border: 2px solid #0067A6;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__link {
    border: 2px solid #0067A6;
    width: 280px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__imagem {
    width: 50%;
    background-color: #f6f6f6;
    border-radius: 20px;
    padding: 7px;
}




